{% extends "../layouts/base.html" %}
{% load humanize %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    {% if role != 'staff' %}
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">home</i>
                </div>
                <p class="card-category">Available</p>
                <h3 class="card-title">{{ available_apartments_count }}
                    <small>Apartments</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">bed</i>
                    Available apartments
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if role != 'receptionist' %}
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>
                <p class="card-category">Revenue</p>
                <h3 class="card-title">Drinks<br><small>
                    <del style="text-decoration-style: double;">N</del>
                    {{ sales_total|intcomma }}</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Revenue from Drink sales
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Low Stock</p>
                <h3 class="card-title">Drinks<br><small>{{ low_stock_count }}</small>

                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Below restock level
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info</i>
                </div>
                <p class="card-category">Out of Stock</p>
                <h3 class="card-title">Drinks<br><small>{{ out_of_stock_count }}</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Out of stock
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if role == 'admin' or role == 'manager' %}
<div class="row">
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-rose">
                <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Monthly Sales</h4>
                <p class="card-category">Monthly Sale of Drinks</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-info">
                <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Revenue Distribution</h4>
                <p class="card-category">Drink Revenue Distribution by Type</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    {% if role != 'staff' %}
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Apartments:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#profile">
                                    <i class="material-icons">bed</i> Available
                                    <div class="ripple-container"></div>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#settings">
                                    <i class="material-icons">room</i> Enquire
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <table class="table">
                            <tbody>
                            {% for apartment in available_apartments %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{ apartment.name }}</td>
                                <td>{{ apartment.get_roomType_display }}</td>
                                <td>{{ apartment.price|intcomma }}</td>
                                <td class="td-actions text-right">
                                    <button class="btn btn-primary btn-link btn-sm" rel="tooltip" title="Edit Task"
                                            type="button">
                                        <i class="material-icons">edit</i>
                                    </button>

                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="messages">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input checked class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                </td>
                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging
                                    rain swept through metro Detroit
                                </td>
                                <td class="td-actions text-right">
                                    <button class="btn btn-primary btn-link btn-sm" rel="tooltip" title="Edit Task"
                                            type="button">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-danger btn-link btn-sm" rel="tooltip" title="Remove"
                                            type="button">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                </td>
                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                <td class="td-actions text-right">
                                    <button class="btn btn-primary btn-link btn-sm" rel="tooltip" title="Edit Task"
                                            type="button">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-danger btn-link btn-sm" rel="tooltip" title="Remove"
                                            type="button">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="settings">
                        <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-4">
                  <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="date" name="checkin_date" id="checkin_date" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-4">
                  <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="date" name="checkout_date" id="checkout_date" class="form-control">
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 align-self-end">
                  <button class="btn btn-primary btn-block text-white" id="checkButton">Check</button>
                </div>
              </div>
            </form>
            <div id="availableApartments"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if role != 'receptionist' %}
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-warning">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Drinks:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#low">
                                    <i class="material-icons">timer</i> Low Stock
                                    <div class="ripple-container"></div>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#empty">
                                    <i class="material-icons">room</i> Out of Stock
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="low">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>ID</th>
                            <th>Brand</th>
                            <th>Restock Level</th>
                            <th>Quantity</th>
                            </thead>
                            <tbody>
                            {% for stock in low_stock %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ stock.brand }}</td>
                                <td>{{ stock.restock_level }}</td>
                                <td>{{ stock.quantity }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="empty">
                        <table class="table table-hover">
                            <thead class="text-danger">
                            <th>ID</th>
                            <th>Brand</th>
                            <th>Restock Level</th>
                            <th>Quantity</th>
                            </thead>
                            <tbody>
                            {% for stock in out_of_stock %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ stock.brand }}</td>
                                <td>{{ stock.restock_level }}</td>
                                <td>{{ stock.quantity }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
    document.getElementById("checkin_date").min = new Date().toISOString().split("T")[0];
    document.getElementById("checkout_date").min = new Date().toISOString().split("T")[0];
    const daily_sales_data = '{{ daily_sales_list }}';
    const monthly_sales_data = '{{ monthly_sales_list }}';
    const sales_distribution_data = '{{ sales_distribution_list }}';
    var jsonmonthlydata = JSON.parse(monthly_sales_data);
    var jsondailydata = JSON.parse(daily_sales_data);
    var jsonsalesdistribution = JSON.parse(sales_distribution_data)
    console.log(jsondailydata);

    console.log(jsonmonthlydata);
    console.log(jsonsalesdistribution);
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts(jsonmonthlydata, jsondailydata);

    });
</script>
<script>
    var enquiry = {}

            $("#checkButton").click(function(e) {
                e.preventDefault();
            var checkinDate = $("#checkin_date").val();
            var checkoutDate = $("#checkout_date").val();

            console.log(checkoutDate);

            // GET AJAX request
            $.ajax({
                type: 'GET',
                url: "{% url 'frontdesk-check' %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    checkin_date: checkinDate,
                    checkout_date: checkoutDate
                },
                contentType: "application/json",
                dataType: 'json',
                success: function(response) {
                    // if successful, alert the user

                    if(response['valid']){
                        available = response['available']
                        console.log(response)
                        var tableHtml = '<table class="table"><tbody>';
                        for (var i = 0; i < available.length; i++) {
                            tableHtml += '<tr><td>' + available[i].fields['name'] + '</td><td>' + available[i].fields['numberOfBeds'] + ' bedroom </td><td>' + available[i].fields['price'] +'</td></tr>';
                        }
                        tableHtml += '</tbody></table>';
                        //PrintElem(orders, total)
                        $("#availableApartments").html(tableHtml);
                        //alert('Posted');

                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
            // console.log(JSON.stringify(myObj))
            })
</script>
<script>
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
</script>
{% endblock javascripts %}
