{% extends 'website/base.html' %}
{% load static %}
{% block context %}
  <body>
    
  {% include 'incs/header.html' %}
  {% include 'incs/inner-page-hero.html' %}

    <section class="py-5 bg-light" id="next">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
            <!--<figure class="img-absolute">
              <img src="{% static 'assets/images/round-inset.png' %}" alt="Free Website Template by Templateux" class="img-fluid">
            </figure>-->
            <img src="{% static 'assets/images/apartment-3/apartment-3-livingroom-3.png' %}" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-12 col-lg-6 order-lg-1" data-aos="fade-up">
            <h2 class="heading">Welcome!</h2>
            <p class="mb-4" style="font-size: 18px">We are a provider of high-quality, fully furnished service apartments, offering guests the
              comfort and convenience of a home away from home. Our apartments are located in prime locations in the city,
              providing easy access to all the local attractions, businesses, and amenities.</p>
            <p style="font-size: 18px">Why choose us?</p>
            <ul>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Spacious and fully furnished apartments</li>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Premium amenities and services</li>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Prime locations in Benin City</li>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>24/7 customer support</li>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Affordable rates</li>
            </ul>
            <p style="font-size: 18px">Our apartments are perfect for:</p>
            <ul>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Business travelers</li>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Relocating employees</li>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Temporary housing</li>
            <li style="font-size: 18px"><i class="ri-check-double-line"></i>Vacationers</li>
            </ul>
            </div>
          <div class="col-md-12 col-lg-6 ml-auto order-lg-1 position-relative mb-5" data-aos="fade-up">
            <!--<figure class="img-absolute">
              <img src="{% static 'assets/images/round-inset.png' %}" alt="Free Website Template by Templateux" class="img-fluid">
            </figure>-->
            <img src="{% static 'assets/images/apartment-5/livingroom-1.png' %}" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-12 col-lg-6 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
            <p class="mb-4" style="font-size: 18px">Our mission is to provide guests with an exceptional living experience that exceeds their expectations.
              We understand that travelers are looking for comfortable, affordable, and convenient accommodation options, and
              our apartments offer just that.</p>

            <p class="mb-4" style="font-size: 18px">Our apartments come fully equipped with all the modern amenities you need, including high-speed internet,
              air conditioning, and a fully equipped kitchen. We have taken care of all the details, so you can focus on enjoying your stay.</p>

            <p class="mb-4" style="font-size: 18px">Whether you are traveling for business, leisure, or a combination of both, our service apartments are the
              perfect choice for your stay. With our flexible booking options and competitive pricing, we make it easy for you to find
              the right accommodation for your needs.</p>

            <p class="mb-4" style="font-size: 18px">We are committed to providing exceptional service, and our team is always on hand to assist with any requests
              or questions you may have. We look forward to welcoming you to our apartments, and to making your stay with us a memorable one.</p>


<!--            <p><a href="#" class="btn btn-primary text-white py-2 mr-3">Learn More</a> <span class="mr-3 font-family-serif"><em>or</em></span> <a href="https://vimeo.com/channels/staffpicks/93951774"  data-fancybox class="text-uppercase letter-spacing-1">See video</a></p>-->
          </div>
          
        </div>
      </div>
    </section>

    <!--<div class="container section">

      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7 mb-5">
          <h2 class="heading" data-aos="fade-up">Leadership</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="block-2">
            <div class="flipper">
              <div class="front" style="background-image: url(static 'assets/images/person_3.jpg' %});">
                <div class="box">
                  <h2>Will Peters</h2>
                  <p>President</p>
                </div>
              </div>
              <div class="back">
                &lt;!&ndash; back content &ndash;&gt;
                <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="{% static 'assets/images/person_3.jpg' %}" alt="">
                  </div>
                  <div class="name align-self-center">Will Peters <span class="position">President</span></div>
                </div>
              </div>
            </div>
          </div> &lt;!&ndash; .flip-container &ndash;&gt;
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="block-2"> &lt;!&ndash; .hover &ndash;&gt;
            <div class="flipper">
              <div class="front" style="background-image: url(static 'assets/images/person_1.jpg' %});">
                <div class="box">
                  <h2>Jane Williams</h2>
                  <p>Business Manager</p>
                </div>
              </div>
              <div class="back">
                &lt;!&ndash; back content &ndash;&gt;
                <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="{% static 'assets/images/person_1.jpg' %}" alt="">
                  </div>
                  <div class="name align-self-center">Jane Williams <span class="position">Business Manager</span></div>
                </div>
              </div>
            </div>
          </div> &lt;!&ndash; .flip-container &ndash;&gt;
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="block-2">
            <div class="flipper">
              <div class="front" style="background-image: url(static 'assets/images/person_2.jpg' %});">
                <div class="box">
                  <h2>Jeffrey Neddery</h2>
                  <p>Marketing Director</p>
                </div>
              </div>
              <div class="back">
                &lt;!&ndash; back content &ndash;&gt;
                <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="{% static 'assets/images/person_2.jpg' %}" alt="">
                  </div>
                  <div class="name align-self-center">Jeffrey Neddery <span class="position">Marketing Director</span></div>
                </div>
              </div>
            </div>
          </div> &lt;!&ndash; .flip-container &ndash;&gt;
        </div>
      </div>
    </div>
    &lt;!&ndash; END .block-2 &ndash;&gt;-->

    <section class="section slider-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8">
            <h2 class="heading" data-aos="fade-up">Photos</h2>
            <p style="font-size: 18px" data-aos="fade-up" data-aos-delay="100">Whether you're here for business or leisure, our apartments
              provide the perfect blend of style, comfort and convenience.
              Get a glimpse of what to expect during your stay with us.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
              <div class="slider-item">
                <a href="{% static 'assets/images/apartment-1/apartment-1-bedroom-4.png' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'assets/images/apartment-1/apartment-1-bedroom-4.png' %}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{% static 'assets/images/apartment-2/kitchen-3.png' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'assets/images/apartment-2/kitchen-3.png' %}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{% static 'assets/images/apartment-3/livingroom-1.png' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'assets/images/apartment-3/livingroom-1.png' %}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{% static 'assets/images/apartment-4/bathroom-1.png' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'assets/images/apartment-4/bathroom-1.png' %}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{% static 'assets/images/apartment-5/bedroom-1.png' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'assets/images/apartment-5/bedroom-1.png' %}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{% static 'assets/images/inhouse-bar/inhouse-bar-1.png' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'assets/images/inhouse-bar/inhouse-bar-1.png' %}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{% static 'assets/images/front-elevated-2.png' %}" data-fancybox="images" data-caption="Caption for this image"><img src="{% static 'assets/images/front-elevated-2.png' %}" alt="Image placeholder" class="img-fluid"></a>
              </div>
            </div>
            <!-- END slider -->
          </div>
        
        </div>
      </div>
    </section>
    <!-- END section -->

    <div class="section" id="history">
      <div class="container">

        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7 mb-5">
            <h2 class="heading" data-aos="fade">About the Company</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="timeline-item" date-is='2022' data-aos="fade">
              <h3>Establishment and Location</h3>
              <p>CANLEE INN Service Apartments was officially commissioned on 17th December 2022. Located in the serene,
              upscale Government Reservation Area (G.R.A.) of Benin City, the capital of Edo State of Nigeria, it is situated
              in a beautifully landscaped compound measuring over 1,200 square metres, which provides ample room for car parking,
              outdoor & indoor recreational facilities and our fully functional amenities; such as silenced power generating set to
              guarantee constant (24/7) power supply, professional round the clock security complemented by closed circuit security
                cameras (CCTV), clean potable water supply with in-house water purification system, free satellite TV & Wi-Fi services, etc.</p>
              <hr>
              <h3>Our Staff</h3>
              <p>Our professional, courteous, dedicated & dutiful staff are always on hand to make your stay a most memorable
                experience worth reliving for a long time to come.</p>
              <hr>
              <p>Come, Visit Us and Enjoy our Home Away from Home!</p>
            </div>
            
          <!--  <div class="timeline-item" date-is='2011' data-aos="fade">
              <h3>Company Full Blast</h3>
              <p>
                Our professional, courteous, dedicated & dutiful staff are always on hand to make your stay a most memorable
                experience worth reliving for a long time to come.

                Come, Visit Us and Enjoy our Home Away from Home!

                At CANLEE INN Service Apartments, HOSPITALITY IS OUR DNA.
              </p>
            </div>-->
            
            <!--<div class="timeline-item" date-is='2008' data-aos="fade">
              <h3>The Birth of the Company</h3>
              <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
              </p>
            </div>-->
          </div>

          <span class="text-uppercase letter-spacing-1">At CANLEE INN Service Apartments, HOSPITALITY IS OUR DNA.</span>
        </div>
        

      </div>
    </div>

    {% endblock %}

  </body>
</html>