{% load static %}
{% include 'incs/head.html' %}

<body>

    {% block context %}



    {% endblock %}
    <section class="section bg-image overlay" style="background-image: url('{% static 'assets/images/staff-1.png' %}');">
        <div class="container" >
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
              <h2 class="text-white font-weight-bold">Enjoy comfort and class. </h2>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
              <a href="{% url 'inner-page' 'reservation' %}#next"
                 class="btn btn-outline-white-primary py-3 text-white px-5">Make Reservation</a>
            </div>
          </div>
        </div>
      </section>
<footer class="section footer-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
              <li><a href="{% url 'inner-page' 'apartments' %}">The Rooms &amp; Suites</a></li>
              <li><a href="{% url 'inner-page' 'about' %}">About Us</a></li>
              <li><a href="{% url 'inner-page' 'contact' %}">Contact Us</a></li>
<!--              <li><a href="{% url 'inner-page' 'rooms' %}">Restaurant</a></li>-->
            </ul>
          </div>
          <div class="col-md-3 mb-5 pr-md-5 contact-info">
            <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
            <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span> #3 Ogiugo Avenue, Off Aideyan & Aikhionbare Streets<br> G.R.A. Benin City, ED 300102</span></p>
              <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span> <span> <a href="tel:+2349157215418">(+234) 915 721 5418</a></span></p>
              <p><span> <a href="tel:+2347061337681">(+234) 706 133 7681</a></span></p>
              <p> <span> <a href="tel:+2348145124212">(+234) 814 512 4212</a></span></p>
              <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span> <a href="mailto:info.canleeservices@gmail.com">info.canleeservices@gmail.com</a></span></p>
          </div>
          <div class="col-md-3 mb-5">
            <p>Sign up for our newsletter</p>
            <form action="#" class="footer-newsletter">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email...">
                <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5">
          <p class="col-md-6 text-left">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> Canlee Services Ltd. All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>

          <p class="col-md-6 text-right social">
            <a href="#"><span class="fa fa-instagram"></span></a>
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-linkedin"></span></a>
          </p>
        </div>
      </div>
    </footer>

</body>
 <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'assets/js/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
        <script async src='https://d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js'></script>
        <script>
          var wa_btnSetting = {"btnColor":"#16BE45","ctaText":"enquiries","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"left","whatsAppNumber":"2348056656774","welcomeMessage":"","zIndex":999999,"btnColorScheme":"light"};
          var wa_widgetSetting = {"title":"Canlee Services Ltd","subTitle":"Typically replies in a day","headerBackgroundColor":"#2ec6d1","headerColorScheme":"light","greetingText":"Hi there!","ctaText":"Start Chat","btnColor":"#2ec6d1","cornerRadius":40,"welcomeMessage":"Hello","btnColorScheme":"light","brandImage":"","darkHeaderColorScheme":{"title":"#333333","subTitle":"#4F4F4F"}};
          window.onload = () => {
            _waEmbed(wa_btnSetting, wa_widgetSetting);
          };
        </script>
</html>