{% extends 'website/base.html' %}
{% load static %}
{% block context %}
  <body>
    {% include 'incs/header.html' %}
    {% include 'incs/inner-page-hero.html' %}

    <section class="section contact-section" id="next">
      <div class="container">
        <div class="row">
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">

            <form action="{% url 'make-reservation' %}" method="post" class="bg-white p-md-5 p-4 mb-5 border">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 form-group">
                  <label class="text-black font-weight-bold" for="name">Name</label>
                  <input type="text" id="name" name="name" class="form-control required">
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-12 form-group">
                  <label class="text-black font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control required">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label class="text-black font-weight-bold" for="phone">Phone</label>
                  <input type="text" id="phone" name="phoneNumber" class="form-control required">
                </div>
                <div class="col-md-6 form-group">
                  <label for="Room" class="font-weight-bold text-black">Room</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="room" id="room" class="form-control required">
                      <option value="King">King</option>
                      <option value="Luxury">Luxury</option>
                      <option value="Normal">Normal</option>
                      <option value="Economy">Economy</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label class="text-black font-weight-bold" for="checkin_date">Date Check In</label>
                  <input type="text" id="checkin_date" name="startDate" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                  <label class="text-black font-weight-bold" for="checkout_date">Date Check Out</label>
                  <input type="text" id="checkout_date" name="endDate" class="form-control">
                </div>
              </div>

                <!--<div class="col-md-6 form-group">
                  <label for="children" class="font-weight-bold text-black">Children</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="children" class="form-control">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4+</option>
                    </select>
                  </div>
                </div>
              </div>-->

              

              <div class="row mb-4">
                <div class="col-md-12 form-group">
                  <label class="text-black font-weight-bold" for="message">Notes</label>
                  <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Reserve Now" class="btn btn-primary text-white py-3 px-5 font-weight-bold">
                </div>
              </div>
            </form>

          </div>
          <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
              <div class="col-md-10 ml-auto contact-info">
                <p><span class="d-block">Address:</span> <span class="text-black"> #1 Ogiugo Avenue, Off Adesuwa Street, G.R.A. Benin City, ED 300102</span></p>
                <p><span class="d-block">Phone:</span> <span class="text-black"> (+1) 435 3533</span></p>
                <p><span class="d-block">Email:</span> <span class="text-black"> <a href="mailto:info.canleeservices@gmail.com">info.canleeservices@gmail.com</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'incs/testimonials.html' %}

    {% endblock %}

  </body>
</html>