

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://www.gnotable.ng">
                   Hotel Management System v2
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://www.canlee-inn.com">Canlee Services Limited <script>document.write(new Date().getFullYear())</script></a> 
                      - powered by <a target="_blank" rel="noopener noreferrer" href="https://www.gnotable.ng">Gnotable Technologies</a>
          </div>
        </div>
    </footer>
