<div class="container">
    <div class="shadow-lg p-3">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-6">

                    <div class="form-group">
                        <label for="id_numberOfBeds"><b>Number of Rooms: </b></label>
                        <input class="form-control" min="0" type="number"
                            value="{{room.numberOfBeds}}" id="id_numberOfBeds" name="numberOfBeds">
                    </div>

                    <div class="form-group">
                        <label for="id_price"><b>Price: </b></label>
                        <input class="form-control" min="0" step="0.01" type="number"
                            value="{{room.price}}" id="id_price" name="price">
                    </div>

                    <div class="form-group">
                        <label for="id_caution"><b>Caution Fee: </b></label>
                        <input class="form-control" min="0" step="0.01" type="number"
                            value="{{room.caution_fee}}" id="id_caution" name="caution_fee">
                    </div>

                </div>

                <div class="col-6">

                    <div class="form-group ">
                        <label for="id_capacity"><b>Capacity : </b></label>
                        <input class="form-control" min="1" step="1" type="number"
                            value="{{room.capacity}}" id="id_capacity" name="capacity">
                    </div>

                    <div class="form-group">
                        <label for="id_roomType"><b>Apartment Type</b></label>
                        <select name="roomType" required="" id="id_roomType"
                                class="form-control">
                            {% for room in rooms %}
                            <option value="{{ room.roomType }}">{{ room.get_roomType_display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" name="submit" class="btn btn-outline-success float-right">Save
                        Changes</button>
                </div>

            </div>
        </form>
        <br>


    </div>
</div>