{% load crispy_forms_tags %}
{% load humanize %}
<div class="container py-5">

    <div class="table-header row">

        <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
            <h2>Drinks Sales Report</h2>
        </div>
        <!--div class="col-sm-12 col-md-12 col-lg-6 mb-4">
            <a href="{% url 'opening_stock' %}" class="btn btn-sm btn-info px-3">Opening Stock</a>
            <a href="{% url 'restock' %}" class="btn btn-sm btn-warning px-3">Re-Stock</a>
            <a href="{% url 'closing_stock' %}" class="btn btn-sm btn-secondary px-3">Closing Stock</a>
        </div-->
    </div>
    <table class="table table-hover table-striped">
        <thead class="bg-secondary rounded">
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <th class="text-white">S/N</th>
                    <th class="text-white">Brand <select class="form-control" name="drink_brand" id="brand">
                        <option value="" selected="">---------</option>
                        {% for drink in drinks %}
                        {% ifchanged %}
                        <option value="{{ drink.brand }}">{{ drink.brand }}</option>
                        {% endifchanged %}
                        {% endfor %}
                    </select></th>
                    <th class="text-white">Type <select class="form-control" name="type" id="type">
                        <option value="" selected="">---------</option>
                        {% for drink in drinks %}
                        {% ifchanged %}
                        <option value="{{ drink.drinkType }}">{{ drink.get_drinkType_display }}</option>
                        {% endifchanged %}
                        {% endfor %}
                        </select></th>
                    <th class="text-white text-center" style="width:20%" >Sales<br><p class="text-dark h1"><del style="text-decoration-style: double;">N</del>{{ total|intcomma }}</p></th>
                    <th class="text-white">Quantity Sold</th>
                    <th class="text-white">Remarks</th>
                </form>
            </tr>
        </thead>
        <tbody>

            {% for sale in sales %}
            <tr>
                <td style="width: 5%;">{{forloop.counter}}</td>
                <td>{{sale.item.brand}} <span class="badge badge-primary">{{sale.item.quantity}}</span> </td>
                <td style="width: 12%;">{{sale.item.get_drinkType_display}} </td>
                <td class="pull-right" ><del style="text-decoration-style: double;">N</del>{{sale.amount}}</td>
                <td style="width: 10%;">{{sale.quantity}}</td>
                <td>
                    <comment>Opening stock was {{opening_stock.quantity}} on {{opening_stock.date}}.</comment>
                </td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
    <!--div class="newItem my-5 border-top pt-3">
        <h3>Add Drink</h3>
        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group pt-3">
                <label for="drink_brand"><b>Brand</b></label>
                <input type="text" class="form-control required" id="drink_brand"
                    name="drink_brand">
            </div>

            <div class="form-group pt-3">
                <label for="id_drink_type">Type</label>
                <select class="form-control" name="drinkType" required="" id="id_drink_type">
                    <option value="" selected="">---------</option>
                    <option value="wine">Wine</option>
                    <option value="beer">Beer</option>
                    <option value="bitters">Bitters</option>
                    <option value="soft">Soft Drink</option>
                    <option value="spirit">Spirit</option>
                    <option value="water">Water</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="initial-stock"><b>Initial Stock</b></label>
                <input type="number" class="form-control required" name="initial-stock"
                    id="initial-stock">
            </div>

            <div class="form-group">
                <label for="drink-price"><b>Price</b></label>
                <input type="number" class="form-control required" name="price"
                    id="drink-price">
            </div>
            <div class="form-group">
                <label for="restock"><b>Restock Level</b></label>
                <input type="number" class="form-control required" name="restock"
                    id="restock">
            </div>
            <button type="submit" class="btn btn-primary px-5 float-right mb-5" name="add">Add</button>
        </form>

    </div-->
</div>

<script>
    $(document).ready(function() {
        $("thead td input[type='button']").click(function(){
            var $td = $(this).closest('td');
            var selectedAttractions = $td.find("[name^='AttractionsAvailable']").val();
            var selectedParticipants = $td.find("name^='AttractionsQuantity']").val();
        });
    });
</script>
