{% load static %}
<div class="container">
    <div class="shadow-lg p-3">
<hr>
        {% for stock in stocks %}
            {% if stock.item.quantity < stock.item.restock_level  %}
        <span> {{ stock.item.brand }} <sup><span class="badge badge-danger">{{ stock.item.quantity }}</span></sup> |</span>
            {% else %}
        <span> {{ stock.item.brand }} <sup><span class="badge badge-success">{{ stock.item.quantity }}</span></sup> |</span>
            {% endif %}
        {% endfor %}
<hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.errors }}
            <h4>Current User: {{ request.user.first_name }} {{ request.user.last_name }}</h4><hr>
            <div class="row mt-5">
                <div class="col-6">

                    <div class="form-group" id="sel">
                        <!--<label for="item-brand"><b>Brand: </b></label>
                        <input type="text" class="form-control border border-secondary"
                            value="{{drink.brand}}" id="item-brand" name="item-brand">-->
                        {{ form.item }}
                    </div>

                    <div class="form-group">
                       <!-- <label for="item-price"><b>Price: </b></label>
                        <input type="number" min="0" step="0.01" class="form-control border border-secondary"
                            value="{{drink.price}}" id="item-price" name="item-price">-->
                        {{ form.amount }}
                    </div>

                </div>

                <div class="col-6">

                    <div class="form-group ">
                        <!--<label for="item-quantity"><b>Quantity : </b></label>
                        <input type="number" min="1" class="form-control border border-secondary"
                            id="item-quantity" name="item-quantity">-->
                        {{ form.quantity }}
                    </div>
                    <select name="drink-type" required="" id="secondSelect"
                            class="form-control mb-2" disabled="disabled">
                            {% for drink in drinks %}
                            <option value="{{ drink.brand }}">{{ drink.quantity }}</option>
                            {% endfor %}
                        </select>
                    <!--<div class="form-group">
                        <label for="drink-type"><b>Room Type</b></label>
                        <select name="drink-type" required="" id="drink-type"
                            class="form-control border border-secondary">
                            {% for drink in drinks %}
                            <option value="{{ drink.drinkType }}">{{ drink.get_drinkType_display }}</option>
                            {% endfor %}
                        </select>
                    </div>-->

                    <button type="submit" name="submit" class="btn btn-outline-primary float-right" onclick="AddData(event)">Add</button>

                </div>

            </div>
        </form>
        <br>
        <div class="h1 float-right mb-20"><p>N</p></div>
                    <div id="tab">
                        <table class="table table-hover table-striped" id="list">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Item</td>
                                    <td>Price</td>
                                    <td>Quantity</td>
                                    <td>Total</td>
                                    </tr>
                            </thead>
                            <tbody>

                            </tbody>

                        </table>
                        <button type="submit" name="submit" class="btn btn-primary float-right mb-3" id="printButton" disabled="disabled" onclick="PrintElem()">Print Receipt</button>
                        <button type="submit" name="submit" class="btn btn-outline-success float-right mr-3 mb-3" disabled="disabled" id="saveButton">Save</button>
                        </div>
    </div>
</div>
<script>
    function updateSecondSelect() {
      // Get the selected index of the first select
      var selectedIndex = document.querySelector("select").selectedIndex;
      // Set the selected index of the second select to match the first select
      document.querySelectorAll("select")[1].selectedIndex = selectedIndex - 1;
    }

    var sumVal = 0
    var rowid = 0
    function AddData(e)
    {
        if (document.getElementById("quantity").value != ''){
        // Get the selected index of the first select
      var selectedIndex = document.querySelector("select").selectedIndex;

      // Set the selected index of the second select to match the first select
      document.querySelectorAll("select")[1].selectedIndex = selectedIndex - 1;
      var stock = document.querySelectorAll("select")[1][selectedIndex - 1].text

      console.log(stock);
        e.preventDefault();
        var rows="";
        var sales=[];
        var sel = document.querySelector("select")
        var display_total = document.querySelector("p")
        var item=sel[sel.selectedIndex].text;
        var brand=item.split(' - ')[0].trim();
        var price=item.split(' - ')[1].trim();
        var quantity=document.getElementById("quantity").value;
        if (quantity <= stock){
            var total=price * quantity;
            rowid += 1
            rows+="<tr id" + "row_"+rowid +"><td>"+rowid+"</td><td>"+brand+"</td><td>"+price+"</td><td>"+quantity+"</td><td>"+total+"</td><td><button class='btn btn-sm btn-danger' onclick='RemoveData(event,this,"+total+")'>Remove</button></td></tr>";
            $(rows).appendTo("#list tbody");

            sumVal = sumVal + total;
            display_total.innerHTML = 'N'+sumVal;
            $('#saveButton').prop('disabled', false);
            console.log(sumVal)
          }else {
            console.log('Insufficient stock');
            (alert('Insufficient stock'));}
    }
}
    function RemoveData(e, id, unitTotal)
    {
        e.preventDefault();
        var display_total = document.querySelector("p").innerHTML;

        display_total = display_total.substring(1);
        new_total = display_total - unitTotal;
        var rowIndex = $(id).closest('tr').index();
        document.querySelector("p").innerHTML = 'N'+new_total;
        sumVal=new_total;
        document.getElementById("list").deleteRow(rowIndex+1);
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var table = document.getElementById("list");
        console.log(table.rows.length)
        var saveButton = document.getElementById("saveButton");
        var printButton = document.getElementById("printButton");
        if (table.rows.length <= 1) {
            saveButton.disabled = true;
            printButton.disabled = true;
        }
    });

    function total()
    {
    var table = document.getElementById("tab"), sumVal = 0

    for(var i =1; i< table.rows.length; i++){

        sumVal = sumVal + parseInt(table.rows[i].cells[4].innerHTML);
    }
    console.log(sumVal);
    }
</script>

 <script>
            var orders = {}
            var total = 0
            $("#saveButton").click(function(e) {

            // get the table data
            var myRows = [];
            var $headers = $('thead tr td');
            var $rows = $('tbody tr').each(function(index){
                $cells = $(this).find('td');
                myRows[index] = {};
                $cells.each(function(cellIndex){
                    myRows[index][$($headers[cellIndex]).html()] = $(this).html();
                });
            });

            var myObj = {};
            myObj.myRows = myRows;
            myObj.salesPerson = "{{request.user.first_name}}";
            console.log(myObj);

            if( myObj != {} ) {

            // GET AJAX request
            $.ajax({
                type: 'POST',
                url: "{% url 'orders' %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: JSON.stringify(myObj),
                contentType: "application/json",
                dataType: 'json',
                success: function(response) {
                    // if successful, alert the user

                    if(response['valid']){
                        orders = response['orders']
                        total = response['total']
                        console.log(response)
                        //PrintElem(orders, total)
                        $('#printButton').prop('disabled', false);
                        //alert('Posted');

                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
            console.log(JSON.stringify(myObj))
            }
        })

            function PrintElem() {
            const d = new Date();
            var mywindow = window.open('', 'PRINT');
            mywindow.document.write('<html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge"><title>Receipt</title>');
            mywindow.document.write('</head><body style="text-align:center;font: Courier, Georgia, "Times New Roman", Times, serif;background: #fff;font-size: 12pt;" >');
            mywindow.document.write('<header style="text-align:center; white-space:nowrap;overflow:hidden;line-height: 1em;">' +
                '<img src="{% static 'assets/images/canlee-transparent-orange.png' %}" alt="" style="max-width: 100px; width: 100px;">' +
                '<p  style="text-align: center; align-content: center;">Payment Receipt</p>' +
                '<p style="text-align: center; align-content: center;">CANLEE INN<br>#3 Ogiugo Avenue, Off<br>Aideyan & Aikhionbare<br>Streets, G.R.A.<br>Benin City</p>' +
                '</header>');
            mywindow.document.write('<content style="width: 40px; max-width: 40px;text-align: center; align-content: center;">' +
                    '<table style="margin-left: auto;margin-right: auto;border-collapse: collapse;">' +
                    '<thead><tr  style="border-top: 1px solid black; border-bottom: 1px solid black;border-collapse: collapse;"><th  style="border-top: 1px solid black; border-collapse: collapse;width: 10px; max-width: 10px; word-break: break-all;">Q.</th><th  style="border-top: 1px solid black; border-collapse: collapse;width: 75px;max-width: 75px;">Item</th><th  style="border-top: 1px solid black; border-collapse: collapse;width: 40px; max-width: 40px; word-break: break-all;">N</th></tr></thead>' +
                    '<tbody>');

            for (var item of orders.myRows){
            console.log(item);
            console.log(item.Item);
            mywindow.document.write('<tr  style="border-collapse: collapse;"><td  style="border-collapse: collapse;width: 10px; max-width: 10px; word-break: break-all;">' + item.Quantity + '</td><td  style="border-collapse: collapse;width: 75px;max-width: 75px;">' + item.Item + '</td><td  style="border-collapse: collapse;width: 40px; max-width: 40px; word-break: break-all;">' + item.Total + '</td></tr>');
            }
            mywindow.document.write('<tr  style="border-top: 1px solid black;border-collapse: collapse;"><td  style="border-top: 1px solid black; border-collapse: collapse;width: 40px; max-width: 40px; word-break: break-all;"></td><td  style="border-top: 1px solid black; border-collapse: collapse;width: 75px;max-width: 75px;">TOTAL</td><td  style="border-top: 1px solid black; border-collapse: collapse;width: 40px; max-width: 40px; word-break: break-all;">' + total + '</td></tr>');
            mywindow.document.write('</tbody></table></content>' +
                '<footer>' +
                '<div></div>' +
                '<div></div>' +
                '<p></p>' +
                '<p></p>' +
                '<p style="text-align:center;">Sales Person: {{request.user.first_name}}</p>' +
                '<p style="text-align:center;">' + d.toLocaleString() + '</p>' +
                '<hr>' +
                    '<p style="text-align:right;">&copy Gnotable Technologies</p>' +
                '</footer>');
            mywindow.document.write('</body></html>');
            mywindow.document.close(); // necessary for IE >= 10

            mywindow.onload=function(){ // necessary if div contains images
                mywindow.focus(); // necessary for IE >= 10*/
                mywindow.print();
                mywindow.close();
            };
            return true;
        }
    </script>
