{% load static %}

<div class="sidebar" data-background-color="white" data-color="purple"
     data-image="{% static 'assets/images/canlee-black.jpg' %}">
    <div class="logo">
        {% if request.user.is_authenticated %}
        <a class="simple-text logo-normal" href="#pablo"
           rel="noopener noreferrer" target="_blank">
            {{ role }}
        </a>
        {% else %}
        <a class="simple-text logo-normal" href="#pablo"
           rel="noopener noreferrer" target="_blank">
            Canlee Inn Backoffice
        </a>
        {% endif %}
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            {% if role == 'admin' %}

            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {% if 'guests' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'guests' %}">
                    <i class="material-icons">person</i>
                    <p>Guests</p>
                </a>
            </li>
            <li class="nav-item {% if 'employees' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'employees' %}">
                    <i class="material-icons">person</i>
                    <p>Employees</p>
                </a>
            </li>
            <li class="nav-item {% if 'bookings' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'bookings' %}">
                    <i class="material-icons">content_paste</i>
                    <p>Bookings</p>
                </a>
            </li>
            <li class="nav-item {% if 'apartment' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'rooms' %}">
                    <i class="material-icons">library_books</i>
                    <p>Apartments</p>
                </a>
            </li>
            <li class="nav-item {% if 'drinks' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'drinks' %}">
                    <i class="material-icons">bubble_chart</i>
                    <p>Drinks</p>
                </a>
            </li>
            <li class="nav-item {% if 'sales' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'sales' %}">
                    <i class="material-icons">location_ons</i>
                    <p>Sales</p>
                </a>
            </li>
            <li class="nav-item {% if 'report' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'sales_report' %}">
                    <i class="material-icons">notifications</i>
                    <p>Sales Report</p>
                </a>
            </li>

            <li class="nav-item {% if 'storage' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'storage' %}">
                    <i class="material-icons">language</i>
                    <p>Storage</p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="material-icons">directions_run</i>
                    <p>Logout</p>
                </a>
            </li>

            <!-- <li class="nav-item active-pro ">
              <a class="nav-link"
                 target="_blank" rel="noopener noreferrer"
                 href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
                <i class="material-icons">unarchive</i>
                <p>PRO Version</p>
              </a>
            </li> -->

            {% elif role == 'manager' %}

            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {% if 'guests' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'guests' %}">
                    <i class="material-icons">person</i>
                    <p>Guests</p>
                </a>
            </li>
            <li class="nav-item {% if 'employees' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'employees' %}">
                    <i class="material-icons">person</i>
                    <p>Employees</p>
                </a>
            </li>
            <li class="nav-item {% if 'bookings' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'bookings' %}">
                    <i class="material-icons">content_paste</i>
                    <p>Bookings</p>
                </a>
            </li>
            <li class="nav-item {% if 'apartment' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'rooms' %}">
                    <i class="material-icons">library_books</i>
                    <p>Apartments</p>
                </a>
            </li>
            <li class="nav-item {% if 'drinks' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'drinks' %}">
                    <i class="material-icons">bubble_chart</i>
                    <p>Drinks</p>
                </a>
            </li>
            <li class="nav-item {% if 'sales' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'sales' %}">
                    <i class="material-icons">location_ons</i>
                    <p>Sales</p>
                </a>
            </li>
            <li class="nav-item {% if 'report' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'sales_report' %}">
                    <i class="material-icons">notifications</i>
                    <p>Sales Report</p>
                </a>
            </li>

            <li class="nav-item {% if 'storage' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'storage' %}">
                    <i class="material-icons">language</i>
                    <p>Storage</p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="material-icons">directions_run</i>
                    <p>Logout</p>
                </a>
            </li>

            {% elif role == 'receptionist' %}

            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {% if 'buests' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'guests' %}">
                    <i class="material-icons">person</i>
                    <p>Guests</p>
                </a>
            </li>

            <li class="nav-item {% if 'bookings' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'bookings' %}">
                    <i class="material-icons">content_paste</i>
                    <p>Bookings</p>
                </a>
            </li>
            <li class="nav-item {% if 'apartment' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'rooms' %}">
                    <i class="material-icons">library_books</i>
                    <p>Apartments</p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="material-icons">directions_run</i>
                    <p>Logout</p>
                </a>
            </li>
            {% elif role == 'staff' %}

            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item {% if 'sales' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'sales' %}">
                    <i class="material-icons">location_ons</i>
                    <p>Sales</p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="material-icons">directions_run</i>
                    <p>Logout</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

</div>
